
# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.

## C/C++ code
*.h text
*.c text
*.cpp text
*.inl text
*.hpp text


## Web/JS/CSS code
*.html text
*.htm text
*.css text
*.js text


## Scripts
*.sh text
*.bat text
